{% extends "layout.twig" %}

{% block navigation %}
  {% if app.session.get('admin_mode') %}
    <ul class="nav navbar-nav">
      <li>
        <a href="/vehicles/{{ vehicle.id }}/add_trip">Add trip</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="page-header">{{ vehicle.title }}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h1 class="text-center">{{ vehicle.total_distance_week }} <small>km</small></h1>
      <h3 class="text-center"><small>in last 7 days</small></h3>
    </div>
    <div class="col-md-3">
      <h1 class="text-center">{{ vehicle.total_distance_month }} <small>km</small></h1>
      <h3 class="text-center"><small>in last 4 weeks</small></h3>
    </div>
    <div class="col-md-3">
      <h1 class="text-center">{{ vehicle.total_distance_year }} <small>km</small></h1>
      <h3 class="text-center"><small>in last 365 days</small></h3>
    </div>
    <div class="col-md-3">
      <h1 class="text-center">{{ vehicle.total_distance }} <small>km</small></h1>
      <h3 class="text-center"><small>in total</small></h3>
    </div>
  </div>
{% endblock %}
